.chat-room  
    margin-top: 20px  
    // background-color: rgba(255,255,255,0.3) !important
    padding: 10px

.chat-input
    width: 80%
    margin-right: 5px !important
    textarea
        color: #fff
        opacity: 0.6

form
    margin-top: 10px
    display: block !important
    .MuiButton-label
        color: #fff
        opacity: 0.6